

 <div class="register" style="margin-top: 50px ; padding-top: 20px;padding-bottom: 30px">
    <div class="container">
      <div class="row">
        <div class="col-md-8 m-auto">
          <h1 class="display-4 text-center">User Details</h1>
          <p class="lead text-center">Create User's Credentials</p>
          <form (ngSubmit)="registerSubmit()">
            <div class="form-group">
              <input type="text" class="form-control form-control-lg"

              [ngClass]="{'form-control form-control-lg':true,'is-invalid':error.username}" 
               placeholder="Enter your username" name="userName" 
              [(ngModel)]="user.userName"
              autocomplete="off"
              required />

              <div class="invalid-feedback d-block">{{error.userName}}</div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control form-control-lg"
              [ngClass]="{'form-control form-control-lg':true,'is-invalid':error.email}" 
              
              placeholder="Enter email" name="email" 
              [(ngModel)]="user.emailId"/>
             <div class="invalid-feedback d-block">{{error.emailId}}</div>
              
            </div>
            <div class="form-group">
              <select class="form-control" id="sel1" name="roleId" [(ngModel)]="user.roleId">
                <option value="" disabled selected>Please Choose...</option>
                <option value="1">Admin</option>
                <option value="6">Catalog Admin</option>
                <option value="7">Supplier</option>
                <option value="5">Oms</option>
              </select>
            </div>
           <div class="form-group">
              <input type="password" class="form-control form-control-lg" 
              [ngClass]="{'form-control form-control-lg':true,'is-invalid':error.password1}" 
              placeholder="Confirm Password" name="password1"
              [(ngModel)]="user.password1" />
              <div class="invalid-feedback d-block">{{error.password1}}</div>
            </div>
            <input type="submit" class="btn btn-info btn-block mt-4" />
          </form>
        </div>
      </div>
    </div>
  </div>

